.coffee {
  width: 80%;
  margin: 5rem auto;
  font-family: "Roboto Condensed";
  padding-top: 5rem;
}

.coffee__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.coffee__item {
  width: 47%;
  background-color: lightgray;
  margin: 1rem;
  padding-top: 0;
}
@media screen and (min-width:480px){
    .coffee__item {
        width: 98%;
    }
}

.coffee__img-container {
  & img {
    margin: 0;
    width: 100%;
  }
}

.coffee__top {
  margin: 0 1rem;

  & h2 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: lighter;
  }
}

.ital {
  font-style: italic;
}

.coffee__desc {
  padding: 1rem;
}

.coffee__overtext {
  background-color: lightgray;
}

.w {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.coffee__span{
    color: blue;
    text-decoration: underline;
}