.coffee {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto Condensed";
}

.coffee__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.coffee__item {
  width: 47%;
  background-color: lightgray;
  margin: 1rem;
  padding-top: 0;
}

.coffee__img-container {
  & img {
    margin: 0;
    width: 100%;
  }
}

.coffee__top {
  margin: 0 1rem;

  & h2 {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: lighter;
  }
}

.ital {
  font-style: italic;
}

.coffee__desc {
  padding: 1rem;
}

.coffee__overtext {
  background-color: lightgray;
}

.w {
  text-transform: uppercase;
}
